section#modal-menu.modal.modal-menu.page_hidden
    .modal-container
        
            .modal__action
                button.page__btn.page__btn_close.close-modal(data-modal="modal-menu")
            .modal__content
                .modal__content-nav
                    .page__img
                        a(href="../")
                            img(src="assets/img/logo-big.png", alt="")
                    nav.page__nav
                        a.page__link(href="about/about.html") О нас
                        a.page__link(href="team/team.html") Команда
                        a.page__link(href="battle-of-corporations/battle-of-corporations.html") Корпоративные игры
                        a.page__link(href="games-format/games-format.html") Формат игр
                            ul.page__lists
                                li.page__list 
                                    a.page__link(href="") Угадать за 60 секунд
                                li.page__list 
                                    a.page__link(href="") Читай.Слушай.Смотри.
                                li.page__list 
                                    a.page__link(href="") Детские игры
                        a.page__link(href="#") Битва корпораций
                        a.page__link(href="#") Фотоотчеты
                        a.page__link(href="#") Видео
                        a.page__link(href="#") СМИ о нас
                        a.page__link(href="#") Контакты
                    .page__links
                        a.page__link(href="tel:+7 (495) 941-83-25") 8 (495) 941-83-25
                        a.page__link(href="tel:+7 (985) 774-32-40") 8 (985) 774-32-40
                    .social
                        button.page__btn.page__icon.page__icon_facebook_white
                        button.page__btn.page__icon.page__icon_instagram_white
                .modal__content-info
                    .page__img
                        img(src="assets/img/img-modalmenu-1.png", alt="")
                    .page__img
                        img(src="assets/img/img-modalmenu-2.png", alt="")
                    .page__img
                        img(src="assets/img/img-modalmenu-3.png", alt="")
                    .page__img
                        img(src="assets/img/img-modalmenu-4.png", alt="")