section#modal-team.modal.modal-team.page_hidden
    .modal-container
        
            .modal__action
                button.page__btn.page__btn_close.close-modal(data-modal="modal-team")
            .modal__content
                .modal__content-img
                    .page__img
                        img(src="assets/img/img-team-1.png", alt="")
                .modal__content-text
                    h2.page__title-h2 Юлиана Константинова
                    .page__text.position Основатель проекта
                    p.page__text Я люблю людей и мне очень приятно, что благодаря своей деятельности, располагая широким кругом связей в различных отраслях, я могу собирать ключевых менеджеров, давать им возможность познакомиться друг с другом в неформальной обстановке. Игра придает любому мероприятию атмосферу реальной борьбы. Интрига заключается в том, что являясь сильным игроком на профильном рынке, можно оказаться «побежденным» за игровым столом и наоборот. Надеюсь, что любителей интеллектуальных игр с каждым последующим мероприятием будет гораздо больше!
                