section.team
    .wrapper
       include ../blocks/shared/on-main
       .team-block
            h1.page__title-h1.page__title-h1_text-shadow_gray
                span немного <br>
                span О команде
            .team-block__description
                p.page__text Вся команда ACP GAME ежедневно проводит масштабную работу для того, чтобы собрать единомышленников и увлечь качественным досугом с уникальным сценарием.
            .page__img
                img(src="assets/img/img-team.png")

include ../blocks/mixins/mixin-blockquote
+blockquote('Тим-билдинги, клиентские мероприятия в нестандартном формате.')
include ../blocks/mixins/mixin-next-section
+nextSection('Следующий раздел', 'фотоотчет', '../')
    