section.team
    .wrapper
       .page__text.on-main На главную
       .team-block
            .team-block__title наша команда
            .team-block__description
                p.page__text Вся команда ACP GAME ежедневно проводит масштабную работу для того, чтобы собрать единомышленников и увлечь качественным досугом с уникальным сценарием.
            .page__img
                img(src="assets/img/img-team.png")
section.team-block-events
    .wrapper
        h2.page__title-h2 Тим-билдинги, клиентские мероприятия в нестандартном формате.
section.team-block-next-section
    .wrapper
        h2.page__title-h2 Следующий раздел
        h3.page__title-h3 Фотоотчет