extends ../templates/template
block base
	base(href='../')
block title
	title Игры
block append style
block content
	main.page.sample-page.games-of-corparations.info-page
		include content
	include ../blocks/modal/modal-callback
	+modalCallbackName('Корпоративная игра')
	