section.contacts
    .wrapper
        include ../blocks/shared/on-main
        .contacts-block
            h1.page__title-h1.page__title-h1_text-shadow_gray
                span наши <br>
                span контакты
            .contacts-block-container
                .contacts-block-container-item__description_city
                    p.page__text Москва
                .contacts-block-container-item__description_name
                    p.page__text Мария Жачева
                .contacts-block-container-item__description_e-mail
                    p.page__text ak@acpaige.ru 
                .contacts-block-container-item__description_phone-dom
                    p.page__text 8 (495) 941-83-25
                .contacts-block-container-item__description_phone-mob
                    p.page__text +7 (985) 774-32-40
            
            