section.video-page
    .wrapper
       include ../blocks/shared/on-main-yellow
       .video-page-block
            h1.page__title-h1.page__title-h1_text-shadow_gray
                span видео <br>
                span наших игр
       