section.video-page
    .wrapper
       include ../blocks/shared/on-main-yellow
       .video-page-block
            h1.page__title-h1.page__title-h1_text-shadow_gray
                span видео <br>
                span наших игр
            .video-page-block-wrapper
                .video-page-block-wrapper__tabs
                    btn.page__btn_yellow Все видео
                    btn.page__btn_yellow Интервью
                    btn.page__btn_yellow Промо-ролики
                    btn.page__btn_yellow Турслет
            .video-page-block-wrapper
                .video-page-block-wrapper__item
                    .page__img
                        img(src="assets/img/img-video-page.png")
                .video-page-block-wrapper__item
                    .page__img
                        img(src="assets/img/img-video-page.png")
                .video-page-block-wrapper__item
                    .page__img
                            img(src="assets/img/img-video-page.png")
                .video-page-block-wrapper__item
                    .page__img
                        img(src="assets/img/img-video-page.png")

       