extends ../templates/template
block base
	base(href='../')
block title
	title Битва корпораций 
block append style
block content
	main.page.sample-page.battle-of-corporations
		include content
	include ../blocks/modal/modal-callback
	+modalCallbackName('Битва Копрораций')