section.banner
    .wrapper    
        include ../blocks/shared/on-main
        .banner-block
            .banner-block-content   
                
                h1.page__title-h1.page__title-h1_text-shadow_gray
                                span Битва <br>  
                                span корпораций
            .banner-block-content-img
                img(src="assets", alt="")
                

    
include ../blocks/trust
include ../blocks/mixins/mixin-next-section
+nextSection('Следующий раздел', 'О нас', '../')

                

