.banner{
    height: 100vh;
    &-block {
        display: flex;
        &-content {
            flex-direction: column;
            justify-content: space-between;
            &__description {

            }
        }

        &__slogan {
            
            .page__title-h1 {
                
            }

            .page__btn {
                .size(2.6);
            }
        }

        &-img {
             
        }
    }
}