.battle-of-corporations {
    // background-color: @color_dark;
    // overflow: hidden;
    .xs-block({
        padding-bottom: 20px;
        
    });
    &-block {
        .row-flex();
        padding: 9% 0 0;
        justify-content: space-between;
        .xs(padding,0);
        &-content {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            .size(2);
            .size-smm(2.5);
            .size-xs(6);
            padding: 2% 5% 5% 0;
            box-sizing: border-box;
            .xs-block({
                order: 1;
            });
            .page__title-h3 {
                // .size(2);
                .xs-block({
                    padding-top: 20px;
                    padding-bottom: 15px;
                    
                });
                // padding-bottom: 40px;
                padding-bottom: 9%;
                color: @color_white;
            }

            .page__text {
                // .size(4);
                // .size-xs(6);
            }

            .page__btn {
                .size(5);
                // .size-xs(5.7);
                // margin-top: 60px;
                margin-top: 23%;
                // padding-top: 7px;
                // padding-bottom: 7px;
                .xs-block({
                    margin-bottom: 60px;
                    
                });
            }
        }

        &-img {
            .size(4);
            .size-smm(3.5);
            .size-xs(6);
            margin-bottom: -10%;
            position: relative;
            align-self: flex-start;
            .xs-block({
                order: 0;
                .size(7);
                .shift-left(-.5);
                .shift-right(-.5);
                margin-bottom: 2%
            });
            &::after{
                content: '';
                position: absolute;
                top: 15px;
                left: -15px;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: @color_yellow;
                .xs(display, none);
            }
            .page__img {
                position: relative;
                // top: 109px;
                // .shift-left(-1.2);
                // .size(7.4);
            }
            
        }
    }
}