.corporate-games {
    background-color: @color_white;
    padding-bottom: 97px;
    overflow: hidden;
    &-block {
        .row-flex();
        flex-wrap: nowrap;
        position: relative;
        &-img {
            position: relative;
            z-index: 80;
            .size(3.8);
            
            .page__img {
                position: relative;
                z-index: 80;
            }
        }

        &-content {
            margin-top: 76px;
            height: 543px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 28px;
            //justify-content: space-evenly;
            .size(4);
            .shift-left(-0.5);
            .shift-right(-0.7);
            z-index: 60;
            background-color: @color_yellow;

            .page__title-h3, .page__text {
                color: @color_dark;
                .shift-left(1.6);
            }

            .page__title-h3 {
                .size(3);
                padding-bottom: 20px;
                
            }

            .page__text {
                .size(3);
                padding-bottom: 70px;
            }

            .page__btn {
                border: 1px solid @color_dark;
                color: @color_dark;
                .size(2.2);
                .shift-left(1.6);
                padding-top: 7px;
                padding-bottom: 7px;
                
            }

            
        }
    }
}