.emotions {
    padding-top: 110px;
    padding-bottom: 100px;
    &-block {
        .row-flex();
        &-content {
            .col();
            .size(3);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .page__btn {
                margin-top: 40px;
                .size(2.7);
            }
            &__text{
                .size(2);
                .size-xs(6);

                .page__title-h3 {
                    padding-top: 30px;
                    color: @color_white;
                    padding-bottom: 26px;
                }
            }
        }

        &-img {
            .size(3);
            display: flex;
            &-column {

            }
        }
    }
}