.emotions {
    padding-top: 110px;
    padding-bottom: 100px;
    .xs-block({
        padding-top: 0;
    });
    &-block {
        .row-flex();
        .xs-block({
            flex-direction: column;
            align-items: flex-start;
        });
        &-content {
            .xs-block({
                order: 1;
            });
            .col();
            .size(3);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .page__btn {
                margin-top: 40px;
                .size(2.7);
                .size-xs(12);
            }
            &__text{
                .size(2);
                .size-xs(12);

                .page__title-h3 {
                    padding-top: 30px;
                    color: @color_white;
                    padding-bottom: 26px;
                    .size-xs(12);

                }
            }
        }

        &-img {
            .size(3);
            display: flex;
            .xs-block({
                position: relative;
                .size(7);
                .shift-left(-.5);
            });

            &__small_1, &__small_2 {
                .xs-block({
                    display: none;
                });
            }


            &-column {

            }
        }
    }
}