.footer {
    
    &-block {
        .row-flex();
        a {
            text-decoration: none;
            font-family: "@{Noah}-Bold";
            font-size: 14px;
            line-height: 28px;
            color: @color_white;
    
        }

        &__about {
            flex-direction: column;
        }
    }
}