.footer {
    padding-bottom: 10px;
    background-color: @color_dark;
    &-block {

        .row-flex();
        padding: 47px 0 25px;
        &__col {
            display: flex;
            flex-direction: column;
            .size(1);
            .size-md(1.5);
            .size-smm(1.5);
            .size-sm(2);
            .size-xs(3);
            .size-xxs(6);
            .md-block({
                margin-bottom: 25px;
            });
        }
        &__img{
            .size-smm(6);
            .size-sm(6);
            .size-xs(6);
            .xs-block({
                order: 0;
            });
        }

        .page__link {
            text-decoration: none;
            font-family: "@{Noah}-Bold";
            font-size: 14px;
            line-height: 28px;
        }

        
        &__about {
            display: flex;
            flex-direction: column;
            .xs-block({
                order: 1;
            });
        }
        &__games{
            .xs-block({
                order: 2;
            });
        }
        &__corporation{
            .xs-block({
                order: 3;
            });
        }
        &__phones {
            .size-xs(6);
            .xs-block({
                order: 4;
                .page__link{
                    text-align: center;
                }
               
            });
            .shift-md-left(1.5);
            .shift-smm-left(0);
            .page__link {
                text-align: right;
                padding-bottom: 20px;
                font-size: 20px;
                .md-block({
                    text-align: left;
                });
            }
          
        }

        &__soical {
            .size-xs(6);
            .xs-block({
                order: 5;
            });
            .page__link {
                color: @color_yellow;
                padding-bottom: 20px;
                text-align: right;
                text-align: center;
            }
            
        }
    }

    &__copy {
        .xs-block({
            //font-size: 20px;
            //padding-bottom: 20px;
        });
        font-family: "@{Noah}-Bold";
        text-align: center;
        font-size: 10px;
        color: @color_white;

    }
}