.footer {
    padding-bottom: 10px;
    overflow: hidden;
    &-block {

        .row-flex();
        flex-wrap: nowrap;
        padding: 47px 0 25px;
        &__img {
            .size(1);
            .xs-block({
        
                
        
            });
            background-image: url(../assets/img/img-footer.png);
            background-repeat: no-repeat;
        }

        &__corporation, &__games {

            .xs-block({
                display: none;
            });
        }

        a {
            text-decoration: none;
            font-family: "@{Noah}-Bold";
            font-size: 14px;
            line-height: 28px;
            color: @color_white;
    
        }

        &__col {
            display: flex;
            flex-direction: column;
            .size(1);
            
        }

        &__about {
            display: flex;
            flex-direction: column;
            .xs-block({
                display: none;
            });
        }

        &__phones {
            .xs-block({
                .size(3);
                .shift-right(.5);
            });
            a {
                text-align: right;
                padding-bottom: 20px;
                font-size: 20px;
            }
        }

        &__soical {
            a {
                color: @color_yellow;
                padding-bottom: 20px;
                text-align: right;
                text-align: center;
            }
        }
    }

    &__copy {
        .xs-block({
            //font-size: 20px;
            //padding-bottom: 20px;
        });
        font-family: "@{Noah}-Bold";
        text-align: center;
        font-size: 10px;
        color: @color_white;

    }
}