.games {
    background-color: @color_white;
    &-block {
        .row-flex();

        &-img {

        }

        &-content {

            &-format {
                .page__title-h3, .page__text {
                    color: @color_dark;
                }
                &-slider {
                    text-align: center;
                    .page__btn {
                        color: @color_dark;
                        border: 1px solid @color_dark;
                    }
                }
            }
        }
    }
}