.kids {
    background-color: @color_white;
    padding-bottom: 60px;
    overflow: hidden;
    .xs-block({
        
        padding-bottom: 0;
        
    });
    &-block {
        .row-flex();
        flex-wrap: nowrap;
        .xs-block({
            flex-direction: column;
            
            
        });
        &__content {
            padding-left: 120px;
            padding-bottom: 60px;
            background-color: @color_dark;
            z-index: 40;
            .size(3);
            //.shift-left(.2);
            //.size-xs(8);
            .xs-block({
                .shift-left(-1.5);
                
            });
            .page__title-h3 {
                color: @color_white;
                padding: 40px 0 20px;
            }

            .page__text {
                .size(5);
                .size-xs(4);
                padding-bottom: 20px;
            }

            .page__btn {
                .size(3.8);
                .xs-block({
        
                    margin-bottom: 20px;
                    
                });
                margin-top: 20px;
                padding-top: 7px;
                padding-bottom: 7px;
            }
            .page__img{
                padding-top: 97px;
                .size(12);
            }

            &-img { 
                .xs-block({
                    order: -1;
                    padding-top: 0;
                    .size(6.6);
                    .shift-right(0);
                    .shift-left(-.260);
                    
                });
                padding-top: 109px;
                z-index: 50;
                //.size(6.3);
                .size(4);
                .shift-right(-.6);
                .shift-left(-.4);
            }
        }
    }
}