.kids {
    background-color: @color_white;
    &-block {
        .row-flex();
        flex-wrap: nowrap;
        &__content {
            background-color: @color_dark;
            .size(3);
            .page__title-h3 {
                color: @color_white;
                padding: 40px 0 30px;
            }

            .page__btn {
                .size(4);
                margin-top: 30px;
            }
            .page__img{

            }

            &-img { 
                .size(3);
                .shift-left(-.25);
            }
        }
    }
}