.next-section {
    // padding: 5% 0;
    padding: 9% 0px 5%;
    background-color: #ededed;
    .page__title-h2,
    .page__title-h3 {
        text-align: center;
        font-family: '@{Noah}-ExtraBold';
    }
    .page__title-h2 {
        color: @color_dark;
        margin-bottom: 1%;
        .xs(font-size, 18px);
    }
    
    .page__title-h3 {
        font-size: 50px;
        line-height: 100%;
        margin-bottom: 3.5%;
        .xs(font-size, 24px);
       
    }
    .page__btn{
        max-width: 227px;
        margin: 0 auto;
        border: none;
        padding: 0 10px;
        height: 50px;
    }
}