.next-section {

    background-color: #ededed;

    .page__title-h2 {
        color: @color_dark;
        text-align: center;
        padding: 130px 0 13px;
    }
    
    .page__title-h3 {
        text-align: center;
        font-size: 50px;
        line-height: 50px;
        padding-bottom: 160px;
    }
}