.page{
    position: relative;
    background: #363636;
    z-index: 1;
    // margin-bottom: 200px;
    height: 100%;
    min-height: 100vh;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    transition: all .35s;
}