.page{
    position: relative;
    // background: #363636;
    // background:@color_black;
    // z-index: 1;
    // margin-bottom: 200px;
    height: 100%;
    // min-height: 100vh;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    transition: all .35s;
    &__title {
        
        &-h1 {
            // font-family: "@{Noah}-Bold";
            font-family: "@{Noah}-ExtraBold";
            text-transform: uppercase;
            font-size: 85px;
            line-height: 85px;
            .sm-block({
                font-size: 65px;
                line-height: 100%;//65px
            });

            &_text-shadow{
               &_white{
                text-shadow: 
                @color_white 1px 0px 0,
                @color_white -1px 0px 0, 
                @color_white 0px -1px 0, 
                @color_white 0px 2px 0;
               }  
               &_gray{
                text-shadow: 
                @color_white 1px 0px 0,
                @color_white -1px 0px 0, 
                @color_white 0px -1px 0, 
                @color_white 0px 2px 0;
               }

            }
        }

        &-h2 {
            font-family: "@{Noah}-Regular";
            font-size: 28px;
            line-height: 34.97px;
            color: @color_white;

        }

        &-h3 {
            font-family: "@{Noah}-Bold";
            font-size: 38px;
            line-height: 45px;
            color: @color_dark;
            text-transform: uppercase;

        }


    }

    &__subtitle {
        font-size: 23px;
        line-height: 25.58px;
        color: @color_yellow;
    }

    &__text {
        font-family: "@{Noah}-Regular";
        font-size: 18px;
        line-height: 24px;
        color: @color_white;
    }

    &__number {
        font-family: "@{Gerbera}";
        font-size: 20px;
        line-height: 26.74px;
        color: @color_white;
    }
    &__link{
        font-family: "@{Gerbera}";
        font-size: 20px;
        line-height: 26.74px;
        color: @color_white;
        text-decoration: none;
        &:hover{
            color: @color_yellow;
        }
    }

    &__btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        border-radius: 2px;
        // height: 55px;
        height: 70px;
        box-sizing: border-box;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 30px;
        font-family: "@{Noah}-Bold";
        text-transform: uppercase;
        border: none;
        color: @color_white;
        background-color: transparent;
        border: 2px solid @color_yellow;
            &:hover{
                    color: #262626;
                    background-color: @color_white;
                    transition: all ease-out 0.5s;
                }
        &_menu{
            position: relative;
            .line::before,
            &::before,
            &::after{
                content: '';
                display: inline-block;
                width: 26px;
                left: 10px;
                height: 3px;
                border-radius: 3px;
                background-color: #405466;
                position: absolute;
            }
            &::before{
                top: 13.9px;
            }
            &::after{
                top: 21px;
            }
            .line::before{
                top: 28px;
            }
        }
    }
    &__icon{
        &_facebook{
            .sprite(@icon-facebook);
            &_white{
                .sprite(@icon-facebook-white);
            }
        }
        &_instagram{
            .sprite(@icon-instagram);
            &_white{
                .sprite(@icon-instagram-white);
            }
        }
        &_menu{
            .sprite(@icon-hamburger);
        }
        &_phone{
            .sprite(@icon-phone);
        }
    }
    &_yellow{
        color: @color_yellow;
    }
    &_white{
        color: @color_white;
    }
    &_desktop{
        display: block;
        // .xs(display, none);
        .smm(display, none);
    }
    &_mobile{
        display: none;
        // .xs(display, block);
        .smm(display, block);
    }
    &_hidden{
        display: none !important;
    }
}

