.tourslet {
    background-color: @color_white;
    padding: 300px 0 230px;
    overflow: hidden;
    &-block {
        .row-flex();
        flex-wrap: nowrap;
        

        &-img {
            .shift-left(-0.3);
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .shift-right(-2);
            .shift-left(.6);
            padding-top: 30px;
            .page__text {
                color: @color_dark;
                .size(3.5);
            }

            .page__title-h3 {
                padding-bottom: 10px;
            }
        }
    }
}