.video {
    background-color: @color_yellow;
    position: relative;
    padding: 100px 0 80px;
    overflow: hidden;
    .xs-block({
        padding-bottom: 40px;
        padding-top: 40px;
        
    });
    //z-index: -2;
    &-block {
        .row-flex();
        .xs-block({
            display: flex;
            flex-direction: column;
            
        });

        &-content {
            
            .size(1.7);
            .size-md(2);
            .size-smm(6);
            padding-top: 15px;
            .smm-block({
                order: 1;
            });
            .page__title-h3 {
                padding: 30px 20px 25px 0;
                box-sizing: border-box;
                .md-block({
                    padding: 0px 30px 25px 0;
                });
                .xs-block({
                    padding: 30px 0px 25px 0;
                    .size(6.2);
                });
            }
            .page__text {
                color: @color_gray;
                padding-right: 90px;
                box-sizing: border-box;
                font-size: 16px;
                line-height: 24px;
                padding-bottom: 46%;
           
                .md-block({
                    padding-bottom: 25%;
                });
                .smm-block({
                    padding-bottom: 5%;
                });
                .xs-block({
                    padding-bottom: 30px;
                });

            }

            .page__btn {
                .size(5);
                .size-smm(6);
            }
        }

        &-img {
            .size(4.3);
            .size-md(4);
            .size-smm(6);
            .smm-block({
                order: 0;
                margin-bottom: 10%;
            });
            position: relative;
            align-self: flex-start;
            &::after{
                content: '';
                position: absolute;
                width: 176px;
                height: 225px;
                right: -14px;
                bottom: -14px;
                z-index: -1;
                background-color: @color_white;
                .xs-block({
                    display: none;
                });
            }
            
        }
    }
}