.about-page {
   
    .on-main {
        color: @color_black;
        position: relative;
        padding: 20px 0 20px;
    }

    .on-main::before {
        content: '';
        display: inline-block;
        background-color: @color_black;
        width: 30px;
        height: 2px;
        margin-right: 10px;
        position: absolute;
        top: 30px;
        left: -40px;

    }

    .page__text {
        color: @color_dark;
        .size(7);
    }
    
    


    &-block {
        .row-flex();
        flex-wrap: nowrap;
                 
        .page__img_big {
            .size(4.5);
            .shift-left(-0.48);
            margin-top: 94px;
        }
       
        
        
        &__description {
            .size(3);
            .shift-left(2.2);
            .page__text {
                color: @color_black;
                padding-bottom: 40px;
            }

            .page__text_small {
                .shift-left(2);
                .size(4);
                font-family: "@{Noah}-Regular";
                font-size: 18px;
                line-height: 24px;
                color: @color_black;
            }

            
        }

        &-experience {
            position: relative;
            background-color: @color_dark;
            padding-left: 100px;
            padding-top: 85px;
            margin-top: 135px;
            padding-bottom: 60px;
            box-sizing: border-box;
            .row-flex();
            .size(4.4);
            //.shift-left(.5);
            .shift-right(-.5);

            .page__text {
                //.size(1);
                color: @color_white;
            }
        }

        &-experience::before {
            content: '';
            display: inline-block;
            width: 726px;
            height: 13px;
            background-color: @color_yellow;
            position: absolute;
            top: -13px;
            right: 1px;
        }

        &-invite {
            padding: 200px 0 100px;
            position: relative;
            .page__title-h2 {
                .size(2);
                .shift-left(2);
                color: @color_black;
                text-align: center;

            }

            
        }

        &-invite::before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 100px;
            height: 100px;
            top: 100px;
            left: 49%;
            background-image: url(../assets/img/“-1.png);
            background-repeat: no-repeat;
        }

        &-next-section {
           padding: 110px 0 140px;
           background-color: #fafafa;
           //background-color: @color_gray;
            .page__title-h2 {
                color: @color_black;
                text-align: center;
            }

            .page__title-h3 {
                text-align: center;
            }
        }
    }
}