.gallery-page{
    background-color: transparent;
    
    .page__title-h1{
        margin-bottom: 34px;
        &_text-shadow_white{
            span{
                &:nth-child(1){
                    font-size: 50px;
                    line-height: 100%;
                }
            }
        }
    }
   
    .page-nav{
        display: flex;
        flex-wrap: wrap;
       .page__btn{
        margin-bottom: 34px;    
       }
       .is-active{
        color: #ffed5c;
        border: 1px solid #ffed5c;
       }
    }
    .page-items{
        .row-flex();
        min-height: 600px;
        .xs-block({
            min-height: 500px; 
        });
    }
    .page-content{

        // width: 500px;
        .size(3);
        .size-md(6);
        .shift-left(3);
        .shift-mmd-left(0);
   
        .page-item{
            position: relative;
            pointer-events: none;
            // .shift-right(.1);
            .shift-mmd-padding-left(.1);
            margin-top: 0;
            transition: all 0.5s ease-out;
            opacity: 0.5;
            .page__img{
                position: relative;
                max-width: 500px;
                display: inline-block;
                .page__link{
                    display: block;
                }
                .nav{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    padding: 30px 6%;
                    width: 100%;
                    background: rgba(0,0,0,.5);
                    box-sizing: border-box;
                    opacity: 0;
                    transition: all 0.5s ease-out;
                    &:hover{
                        opacity: 1;
                    }
                }
                img:hover + .nav{
                    opacity: 1;
                }
                .page__link{
                   
                    // transform: translate(-50%, -50%);
                    &:nth-child(2){
                        bottom: 50px;
                        // transform: translate(-50%, -25%); 
                    }
                    &:hover{
                        border-color: @color_yellow;
                    }
                }
            }
            &_bg{
                // position: absolute;
                // top: 0;
                // width: 100%;
                // height: 100%;
            }
            .md-block({
                text-align: center;
            });
            &.tns-slide-active{
                cursor: pointer;
                pointer-events: auto;
                opacity: 1;
                margin-top: 2%;
                // .shift-left(.3);
                .shift-padding-left(0);
                .date{
                    color: @color_yellow;
                }
                .value{
                    color: @color_white;
                }
            }
        }
        .slider.page-nav{
            // padding-right: 8%;
            position: relative;
            .mmd-block({
                justify-content: flex-start;
                padding-left: 6%;
            });
            .smm-block({
                flex-direction: column;
                justify-content: center;
                align-items: center;
            });
            .slider__actions{
                display: flex;
                position: absolute;
                right: 19.5%;
                top: -25px;
                .mmd-block({
                    position: relative;
                    top: 0;
                    right: 0;
                });
                .xs-block({
                    margin-left: 5%;
                });
            }
            
            .page-nav{
                margin-left: 9%;
                margin-bottom: 0;
                .smm-block({
                    margin: 20px auto;
                });
            }
        }
        .tns-ovh{
            overflow: inherit;
            .md-block({
                overflow: hidden;
            });
        }
    }
    .page-item{
        .size(3);
        &:nth-of-type(2){
            .size(2);
        }
        .date,
        .value{
            color: @color_white;
            font-weight: bold;
        }
        .date{
            text-transform: uppercase;
        }
    }
    .next-section{
        margin-top: 65px;
    }
    
}