.sample-page{
    background-color: @color_white;
    .page__title-h1{
      
    }
    .page__text{
        color: @color_black;

    }
    .page__text_yellow{
        color: @color_yellow;
    }

    .page__text_white{
        color: @color_white;
        &_margin-top {
            color: @color_white;
            //padding-top: 200px;
            position: relative;
            top: 180px;
        }
    }
}