.sample-page{
    background-color: @color_white;
    .page__title-h1{
        .xs-block({
            font-size: 9vw;
            line-height: 120%;
            span{
                font-size: 9vw;
                line-height:120%;
            }
        });
    }
    .page__text{
        // color: @color_black;

    }
    .page__text_yellow{
        color: @color_yellow;
    }

    .page__text_white{
        color: @color_white;
        &_margin-top {
            color: @color_white;
        }
    }



    .slider.page-nav{
        color: @color_white;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 0;
        margin-top: 0;
        .page-nav{
            align-self: center;
        } 
        .page-nav__number{
            &.active{
                font-size: 28px;
                line-height: 35px;
            }

            &:nth-of-type(2){
                &::before {
                    content: "/";
                    padding: 0 5px;
                }
            }
        }
        
        
    }
    .slider__actions{
        // display: flex;
        // justify-content: flex-end;
        button{
            width: 70px;
            height: 70px;
            position: relative;
            top: 0;
            right: 11%;
            background-color: transparent;
            border: 1px solid @color_gray;
            &[data-controls="prev"],
            &[data-controls="next"]  {
                &::before{
                    content: '';
                    display: inline-block;
                    .sprite(@icon-arrow-outline);
                   
                }
            }
            &[data-controls="prev"]{
                &::before{
                    transform: rotate(180deg);
                    
                }
            }
            &[data-controls="next"]{
                &::before{
                    transform: rotate(0deg);
                }
            }
        }
    }
    .tns-nav{
        display: none;
    }
    
}
