mixin nextSection(titleh2,titleh3, link)
    section.next-section
        .wrapper
            h2.page__title-h2=titleh2
            h3.page__title-h3=titleh3
            a(href=link).page__btn
                .page__icon.page__icon_arrow-long-gray_next