section
    .wrapper
        .page__text.on-main На главную
        .about-page-block
            .about-page-block__title немного О нас
            .about-page-block__description
                p.page__text ACP GAME — это не просто игры с вопросами и ответами, это прежде всего, комьюнити с общими интересами, желающее проводить свой досуг с пользой. Это объединение успешных людей, которые знают цену своему времени и ценят качество его организации. Все гости к нам приходят по рекомендациям. Мы уделяем большое внимание рассадке, учитывая пол, возраст и семейный статус.
                p.page__text_small Комфорт, интересные знакомства и атмосфера — вот, что нас отличает от других. Мероприятия проходят в закрытом формате в лучших ресторанах Москвы.
        .about-page-block
            .page__img_big
                img(src="assets/img/img-about-page.png")
            .about-page-block-experience
                .about-block-experience__item
                    .page__img 
                        img(src="assets/img/7 (1).png")
                    p.page__text  лет — приличный опыт
                .about-block-experience__item.padding-left
                    .page__img 
                        img(src="assets/img/5.png")
                    p.page__text стран
                .about-block-experience__item.mob
                    .page__img 
                        img(src="assets/img/500+ (1).png")
                    p.page__text игр
                .about-block-experience__item.padding-left.mob
                    .page__img 
                        img(src="assets/img/200+ (1).png")
                    p.page__text корпоративов
section.about-page-block-invite
    .wrapper
        h2.page__title-h2 Мы приглашаем к участию  новых интересных людей из мира бизнеса.
section.about-page-block-next-section
    .wrapper
        h2.page__title-h2 Следующий раздел
        h3.page__title-h3 команда

                

