.wrapper
        include ../blocks/shared/on-main
        .page-block
            h1.page__title-h1.page__title-h1_text-shadow_gray
                span немного <br>  
                span О нас
            .page-block__description
                p.page__text ACP GAME — это не просто игры с вопросами и ответами, это прежде всего, комьюнити с общими интересами, желающее проводить свой досуг с пользой. Это объединение успешных людей, которые знают цену своему времени и ценят качество его организации. Все гости к нам приходят по рекомендациям. Мы уделяем большое внимание рассадке, учитывая пол, возраст и семейный статус.
                p.page__text.page__text_bottom Комфорт, интересные знакомства и атмосфера — вот, что нас отличает от других. Мероприятия проходят в закрытом формате в лучших ресторанах Москвы.
        .page-block
            .block-infoSlider
                .block-infoSlider__slider.block-infoSlider__left
                    .btn-play.page_hidden
                    #sliderInfoSlider
                        .page__img
                            img(src="assets/img/img-about-page.png", alt="")
                        .page__img
                            img(src="assets/img/img-about-page.png", alt="")
                        .page__img
                            img(src="assets/img/img-about-page.png", alt="")
                        .page__img
                            img(src="assets/img/img-about-page.png", alt="")
                    #customizeThumbnailsInfoSlider.slider-thumbnails
                        .page__img_small
                        .page__img_small
                        .page__img_small
                        .page__img_small
                .block-infoSlider__info.block-infoSlider__rigth
                    .block-infoSlider__item
                        span.page__number 7
                        p.page__text лет — приличный опыт
                    .block-infoSlider__item
                        span.page__number 5
                        p.page__text стран
                    .block-infoSlider__item
                        span.page__number 500+
                        p.page__text игр
                    .block-infoSlider__item
                        span.page__number 200+
                        p.page__text корпоративов
                    
                
                
           
        include ../blocks/mixins/mixin-blockquote
        +blockquote('Мы приглашаем к участию  новых интересных людей из мира бизнеса.')

include ../blocks/mixins/mixin-next-section
+nextSection('Следующий раздел', 'Команда', '../team/team.html')

                

