extends ../templates/template
block base
	base(href='../')
block title
	title Галерея
block append style
block content
	main.page.sample-page.gallery
		include content
	include ../blocks/modal/modal-gallery
	