section.about
    .wrapper
        .about-block
            .about-block-description
                h3.page__title-h3 о нас
                p.page__text Мы за качество.  
                p.page__text Но количество не перестает удивлять даже нас.
                button.page__btn.page__btn_gray подробнее
            .about-block-experience
                .about-block-experience__item
                    span.page__number 7
                    //- .page__img 
                    //-     img(src="assets/img/7.png")
                    p.page__text  лет — приличный опыт
                .about-block-experience__item
                    span.page__number 7
                    //- .page__img 
                    //-     img(src="assets/img/7.png")
                    p.page__text городов
                .about-block-experience__item
                    span.page__number 500+
                    //- .page__img 
                    //-     img(src="assets/img/500+.png")
                    p.page__text игр
                .about-block-experience__item
                    span.page__number 200+
                    //- .page__img 
                    //-     img(src="assets/img/200+.png")
                    p.page__text корпоративов
                


