section.about
    .wrapper
        .about-block
            .about-block-description
                h3.page__title-h3 о нас
                p.page__text Мы за качество.
                p.page__text Но количество не перестает удивлять даже нас.
                .page__btn подробнее
            .about-block-experience
                .about-block-experience__item
                    p.page__text <span>7</span> лет — приличный опыт
                .about-block-experience__item
                    p.page__text <span>7</span> городов
                .about-block-experience__item
                    p.page__text <span>500+</span> игр
                .about-block-experience__item
                    p.page__text <span>200+</span> корпоративов
                


