section.about
    .wrapper
        .about-block
            .about-block-description
                h3.page__title-h3 о нас
                p.page__text Мы за качество.количество не перестает удивлять даже нас.
                .page__btn подробнее
            .about-block-experience
                .about-block-experience__item
                    .page__img 
                        img(src="assets/img/7.png")
                    p.page__text  лет — приличный опыт
                .about-block-experience__item.padding-left
                    .page__img 
                        img(src="assets/img/7.png")
                    p.page__text городов
                .about-block-experience__item
                    .page__img 
                        img(src="assets/img/200+.png")
                    p.page__text игр
                .about-block-experience__item.padding-left
                    .page__img 
                        img(src="assets/img/500+.png")
                    p.page__text корпоративов
                


