section.banner
	.wrapper
		.banner-block
			.banner-block-content
				.banner-block-content__description
					p.page__text Интеллектуальные <br> игры для бизнес-аудитории с&nbsp;уникальным сценарием
				.banner-block-content__slogan
					h1.page__title-h1 Я играю <br>
						span.page_yellow икру 
						span.page_white забираю
					button.page__btn принять участие
				.banner-block-content__description
					p.page__text.page__text_arrow Мы приглашаем к участию новых людей из мира бизнеса
			.banner-block-img
				.banner-block-img__big
					img(src="assets/img/img-banner-1.png")
				.banner-block-img__preview
						.page__img_small
							img(src="assets/img/img-banner-small-1.png")
						.page__img_small
							img(src="assets/img/img-banner-small-2.png")
						.page__img_small
							img(src="assets/img/img-banner-small-3.png")
			.banner-bg
	.banner_info
