mixin names(date, city, game)
	.page__text.hide
		div.page_yellow=date
		div.city=city
		div.game-name=game
section.banner
	.wrapper
		.banner-block
			.banner-block-content
				.banner-block-content__description
					p.page__text Интеллектуальные <br> игры для бизнес-аудитории с&nbsp;уникальным сценарием
				.banner-block-content__slogan
					h1.page__title-h1.page__title-h1_text-shadow_white
						span Я играю <br>
						span икру 
						span забираю
						//- span.page_yellow икру 
						//- span.page_white забираю
					button.page__btn.page__btn_yellow принять участие
				.banner-block-content__description
					p.page__text.page__text_arrow Мы&nbsp;приглашаем к&nbsp;участию новых людей из&nbsp;мира бизнеса
			.banner-block-img
				.banner-block-img__big
					.banner-block-img__big_bg
					.btn-play.page_hidden
					#sliderBanner
						.page__img
							img.tns-lazy-img(data-src="assets/img/img-banner-1.png" )
						.page__img
							img.tns-lazy-img(data-src="assets/img/img-banner-2.png")
						.page__img
							img.tns-lazy-img(data-src="assets/img/img-banner-3.png")
						.page__img
							img.tns-lazy-img(data-src="assets/img/img-banner-4.png")
					
				
				.banner-block-img__preview
					#customizeThumbnails.slider-thumbnails
						.page__img_small
							img( src="assets/img/img-banner-1.png")
						.page__img_small
							img(src="assets/img/img-banner-small-1.png")
						.page__img_small
							img(src="assets/img/img-banner-small-2.png")
						.page__img_small
							img(src="assets/img/img-banner-small-3.png")
			
.banner-info
		.wrapper
			.banner-info-content
				h2.page__title-h2 Ближайшие игры
				+names("25 Октября", "Ереван", "Угадать за 60 секунд")
				+names("28 Октября", "Екатеринбург", "Угадать за 60 секунд")
				+names("8 Декабря", "Екатеринбург", "Угадать за 60 секунд")
				+names("17 Декабря", "Москва", "Битва корпораций")
				+names("23 Декабря", "Екатеринбург", "Читай.Слушай.Смотри.")
			.page__link-toggle.page__text.page_mobile еще даты