section.battle-of-corporations
    .wrapper
        .battle-of-corporations-block
            .battle-of-corporations-block-content
                h3.page__title-h3 Битва корпораций
                p.page__text Неформальная площадка для интеллектуального батла и общения между компаниями.
                .page__btn Подробнее
            .battle-of-corporations-block-img
                .page__img
                    img(src="assets/img/img-fight-corporates.png")

