section.corporate-games
    .wrapper
        .corporate-games-block
            .corporate-games-block-img
                img(src="assets/img/img-corporate-games.png")
            .corporate-games-block-content
                h3.page__title-h3 Корпоративные игры
                p.page__text Тим-билдинги, клиентские мероприятия 
                p.page__text в нестандартном формате.
                .page__btn Подробнее

        