section.emotions
    .wrapper
        .emotions-block
            .emotions-block-content
                h3.page__title-h3 Свежие эмоции
                p.page__text Мы стараемся фотоотчетами   
                p.page__text передать атмосферу наших
                p.page__text мероприятий.
                p.page__text Удается нам это или нет, вы
                p.page__text сможете решить сами.
                .page__btn Смотреть все фото
            .emotions-block-img
                .emotions-block-img__big
                    img(src="assets/img/img-emotions-big.png")
            .emotions-block-img-column
                .emotions-block-img__small_1
                    img(src="assets/img/img-emotions-small-1.png")
                .emotions-block-img__small_2
                    img(src="assets/img/img-emotions-small-2.png")
