footer.footer
    .wrapper
        .footer-block
            .footer-block__col.footer-block__img
                a(href="/")
                    .page__img
                        img(src="assets/img/img-footer.png")
            .footer-block__col.footer-block__about
                a.page__link(href="#") О нас
                a.page__link(href="#") Команда
                a.page__link(href="#") Фотоотчеты
                a.page__link(href="#") Контакты
                a.page__link(href="#") СМИ о нас
            .footer-block__col.footer-block__corporation
                a.page__link(href="#") Корпоративные игры
                a.page__link(href="#") Битва корпораций
            .footer-block__col.footer-block__games
                a.page__link(href="#") Формат игр
                a.page__link(href="#") Угадать за 60 секунд
                a.page__link(href="#") Читай.Слушай.Смотри.
                a.page__link(href="#") Детские игры
            .footer-block__col.footer-block__phones
                a.page__link(href="#") 8 (495) 941-83-25
                a.page__link(href="#") 8 (985) 774-32-40
            .footer-block__col.footer-block__soical
                a.page__link(href="#") Facebook
                a.page__link(href="#") Instagram
                a.page__link(href="#") Video
        .footer__copy © ACP GAME, 2012-2020