footer.footer
    .wrapper
        .footer-block
            .footer-block__col.footer-block__img
                img(src="assets/img/img-footer.png")
            .footer-block__col.footer-block__about
                a(href="#") О нас
                a(href="#") Команда
                a(href="#") Фотоотчеты
                a(href="#") Контакты
                a(href="#") СМИ о нас
            .footer-block__col.footer-block__corporation
                a(href="#") Корпоративные игры
                a(href="#") Битва корпораций
            .footer-block__col.footer-block__games
                a(href="#") Формат игр
                a(href="#") Угадать за 60 секунд
                a(href="#") Читай.Слушай.Смотри.
                a(href="#") Детские игры
            .footer-block__col.footer-block__phones
            .footer-block__col.footer-block__soical
                a(href="#") Facebook
                a(href="#") Instagram
                a(href="#") Video