section.games
    .wrapper
        .games-block
            .games-block-img
                img(src="assets/img/img-games.png")
            .games-block-content
                .games-block-content-format
                    h3.page__title-h3 Формат игр
                    p.page__text Мы представляем пять видов  эксклюзивных 
                    p.page__text игр, которые не оставят вас равнодушными.
                .games-block-content-format-slider
                    p Читай  
                    p Слушай
                    p Смотри
                    .page__btn Подробнее
            
            