header.header
    .wrapper
        .header-block
            .header-block-company
                .header-block-company__logo
                    img(src="assets/img/logo.png")
                .page__subtitle ACP GAME
            .header-block-social
                a.page__number 8 (495) 941-83-25
                a.page__number 8 (985) 774-32-40
                .header-block-social__facebook
                .header-block-social__instagram
            .header-block-hamburger
                .header-block-hamburger__icon