section.kids
    .wrapper
        .kids-block
            .kids-block__content
                .page__img
                    img(src="assets/img/img-kids-1.png")
                h3.page__title-h3 Для детей
                p.page__text Не знаете чем удивить детей сотрудников компании?
                p.page__text Какой формат выбрать для празднования
                p.page__text Дня Рождения своего ребенка?
                p.page__text Мы представляем эксклюзив.
                .page__btn Подробнее
            .kids-block__content-img
                img(src="assets/img/img-kids-2.png")



                