section.tourslet
    .wrapper
        .tourslet-block
            .tourslet-block-img
                img(src="assets/img/img-tour.png")
            .tourslet-block-content
                h3.page__title-h3 Турслет
                p.page__text Мы представляем наш спец.проект для любителей природы и душевных компаний.