section.trust
    .wrapper
        .trust-block
            h3.page__title-h3 НАМ ДОВЕРЯЮТ
            .trust-block__img
                #sliderTrust
                    .page__img
                        img(src="assets/img/img-trust.png")
                    .page__img
                        img(src="assets/img/img-trust.png")
                    .page__img
                        img(src="assets/img/img-trust.png")
                #customizeThumbnailsTrust.slider-thumbnails
                            .page__img_small
                            .page__img_small
                            .page__img_small