section.video
    .wrapper
        .video-block
            .video-block-content
                h3.page__title-h3 Смотрите видео
                p.page__text Сложно передать всю эмоциональную составляющую наших мероприятий, но нам это удалось.
                .page__btn Смотреть все видео
            .video-block-img
                img(src="assets/img/img-video.png")