section.video
    .wrapper
        .video-block
            .video-block-content
                h3.page__title-h3 Смотрите видео
                p.page__text Сложно передать всю   
                p.page__text эмоциональную составляющую
                p.page__text наших мероприятий, но нам это
                p.page__text удалось.
                .page__btn Смотреть все видео
            .video-block-img
                img(src="assets/img/img-video.png")