.trust-block__img
                #sliderTrust
                    .page__img-container
                        .page__img
                            img(src="assets/img/img-logo-sibur.png")
                        .page__img
                            img(src="assets/img/img-logo-qiwi.png")
                        .page__img
                            img(src="assets/img/img-logo-capital.png")
                        .page__img
                            img(src="assets/img/img-logo-domodel.png")
                        .page__img
                            img(src="assets/img/img-logo-alfa.png")
                        .page__img
                            img(src="assets/img/img-logo-post-office.png")
                        .page__img
                            img(src="assets/img/img-logo-leroymerlin.png")
                        .page__img
                            img(src="assets/img/img-logo-rt.png")
                        
                    .page__img-container
                        .page__img
                            img(src="assets/img/img-logo-sibur.png")
                        .page__img
                            img(src="assets/img/img-logo-qiwi.png")
                        .page__img
                            img(src="assets/img/img-logo-capital.png")
                        .page__img
                            img(src="assets/img/img-logo-domodel.png")
                        .page__img
                            img(src="assets/img/img-logo-alfa.png")
                        .page__img
                            img(src="assets/img/img-logo-post-office.png")
                        .page__img
                            img(src="assets/img/img-logo-leroymerlin.png")
                        .page__img
                            img(src="assets/img/img-logo-rt.png")
                    .page__img-container
                        .page__img
                            img(src="assets/img/img-logo-sibur.png")
                        .page__img
                            img(src="assets/img/img-logo-qiwi.png")
                        .page__img
                            img(src="assets/img/img-logo-capital.png")
                        .page__img
                            img(src="assets/img/img-logo-domodel.png")
                        .page__img
                            img(src="assets/img/img-logo-alfa.png")
                        .page__img
                            img(src="assets/img/img-logo-post-office.png")
                        .page__img
                            img(src="assets/img/img-logo-leroymerlin.png")
                        .page__img
                            img(src="assets/img/img-logo-rt.png")
                #customizeThumbnailsTrust.slider-thumbnails
                            .page__img_small
                            .page__img_small
                            .page__img_small