extends templates/template

block title
	title Acpgame
block append style
block content
	main.page
		include blocks/banner
		include blocks/about
		include blocks/emotions
		include blocks/video
		include blocks/games
		include blocks/kids
		include blocks/corporate-games
		include blocks/battle-of-corporations
		include blocks/tourslet
		include blocks/trust
		include blocks/next-section
block append script