extends templates/template

block title
	title Acpgame
block append style
block content
	include modules/header-module
	include blocks/banner
	include blocks/about
	include blocks/emotions
	include blocks/video
	include blocks/games
	include blocks/kids
	include blocks/corporate-games
	include blocks/battle-of-corporations
	include blocks/tourslet
block append script